table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #638889;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #9DBC98;
}

tr:nth-child(odd) {
    background-color: #EBD9B4;
}

tr:nth-child(even) {
    background-color: #F9EFDB;
}

td {
    font-family: Arial, sans-serif;
}

td:first-child {
    font-weight: bold;
}
